# IDE settings
.vscode/
.idea/
*.iws

# Terraform dirs and files
.terraform/
.terraform.lock.hcl.exclude/
.terraform.lock.hcl
terraform.tfstate

# Engineering Custom
.exclude/
.DS_Store
*.yml
secrets/
